@import "variables.scss";

@mixin stretchGrid {
    display: grid;
    justify-items: stretch;
}

@mixin coverHeight {
    overflow: hidden;
    height: 100vh;
}

@mixin centerChildrenVertically {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin centerChildren {
    @include centerChildrenVertically;

    align-items: center;
}

@mixin leftSlideMargins {
    margin-right: #{$spaceUnit / 2};
    padding-left: $spaceUnit;

    @include for-small-size {
        margin-right: 0;
        padding-right: $spaceUnit;
    }

    @include for-medium-size-portrait-only {
        margin-right: 0;
        padding-right: $spaceUnit;
    }
}

@mixin rightSlideMargins {
    margin-left: #{$spaceUnit / 2};
    padding-right: $spaceUnit;

    @include for-small-size {
        margin-left: 0;
        padding-left: $spaceUnit;
    }

    @include for-medium-size-portrait-only {
        margin-left: 0;
        padding-left: $spaceUnit;
    }
}

@mixin primaryFontLight {
    font-family: $primaryFont;
    font-weight: 400;
}

@mixin primaryFontMedium {
    font-family: $primaryFont;
    font-weight: 400;
}

@mixin primaryFontExtraBold {
    font-family: $primaryFont;
    font-weight: 800;
}

@mixin for-small-size {
    @media (max-width: 749px) {
        @content;
    }
}

@mixin for-small-size-portrait-only {
    @media (max-width: 749px) and (orientation: portrait) {
        @content;
    }
}

@mixin for-small-size-landscape-only {
    @media (max-width: 749px) and (orientation: landscape) {
        @content;
    }
}

@mixin for-medium-size-portrait-only {
    @media (min-width: 750px) and (max-width: 899px) and (orientation: portrait) {
        @content;
    }
}

@mixin for-medium-size-landscape-only {
    @media (min-width: 750px) and (max-width: 899px) and (orientation: landscape) {
        @content;
    }
}