@import "variables.scss";

@mixin stretchGrid {
    display: grid;
    justify-items: stretch;
}

@mixin coverHeight {
    overflow: hidden;
    height: 100vh;
}

@mixin centerChildrenVertically {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin centerChildren {
    @include centerChildrenVertically;

    align-items: center;
}

@mixin primaryFontLight {
    font-family: $primaryFont;
    font-weight: 400;
}

@mixin primaryFontMedium {
    font-family: $primaryFont;
    font-weight: 400;
}

@mixin primaryFontExtraBold {
    font-family: $primaryFont;
    font-weight: 800;
}