@import "variables.scss";
@import "mixins.scss";

// Custom resets

a, a:link, a:visited, a:hover, a:active {
    color: $secondaryColor;
    text-decoration: none;
}

// Grid

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
    grid-auto-flow: row; // TODO: Change this to column for mobile
    justify-items: stretch;
}

// Fonts

#left {
    header {
        #presentation {
            #greeting {
                font-family: $secondaryFont;
                font-size: 5.833vmin; // TODO: Set a minimum fixed size for mobile
            }

            #name {
                @include mainFontExtraBold;

                font-size: 20.833vmin; // TODO: Set a minimum fixed size for mobile
            }
        }

        #tagline {
            @include mainFontLight;

            font-size: 3.333vmin; // TODO: Set a minimum fixed size for mobile
            letter-spacing: 0.083vmin;
            text-transform: uppercase;
        }

        #profiles a {
            @include mainFontMedium;

            font-size: 2.083vmin;
            text-transform: lowercase;
        }
    }
}

// Display & positioning

#grid {
    max-height: 100vh;
    position: fixed;
    overflow: hidden;
}

#left, #right {
    height: 100vh;
    overflow-y: scroll;
}

#left {
    header {
        @include centerChildren;

        position: relative;
        min-width: 52.5vmin;

        #presentation {
            top: -5.417vmin; // Substract the top offsets of the relative positioned children to avoid pushing everything down

            #greeting {
                position: relative;
                top: 5.417vmin;
                left: -3.75vmin;
            }
        }

        #tagline {
            margin-top: 1.667vmin;
        }

        #profiles a {
            display: inline-block;
            margin-top: 5.833vmin;
            margin-left: 1.25vmin;
            padding: 1.25vmin 3.75vmin;
        }
    }

    header, aside {
        @include coverHeight;
    }
}

#right {
    .project {
        @include coverHeight;
    }
}

#tagline, .aside-title, .aside-subtitle, .project-title {
    display: block;
}

// Colors

#left {
    header {
        #profiles a {
            border: 1px solid $secondaryColor;
            border-radius: 8.333vmin;
        }
    }
}