// Variables

$mainFont: 'Montserrat', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$secondaryFont: 'Nothing You Could Do', Georgia, Times, serif;
$secondaryColor: black; // Temporary

// Mixins

@mixin coverHeight {
    overflow: hidden;
    height: 100vh;
}

@mixin centerChildren {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin mainFontLight {
    font-family: $mainFont;
    font-weight: 400;
}

@mixin mainFontMedium {
    font-family: $mainFont;
    font-weight: 400;
}

@mixin mainFontExtraBold {
    font-family: $mainFont;
    font-weight: 800;
}

// Custom resets

a, a:link, a:visited, a:hover, a:active {
    color: $secondaryColor;
    text-decoration: none;
}

// Grid

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    grid-auto-flow: row; // TODO: Change this to column for mobile
    justify-items: stretch;
}

// Fonts

#left {
    header {
        #presentation {
            #greeting {
                font-family: $secondaryFont;
                font-size: 7vmin; // TODO: Set a minimum fixed size for mobile
            }

            #name {
                @include mainFontExtraBold;

                font-size: 25vmin; // TODO: Set a minimum fixed size for mobile
            }
        }

        #tagline {
            @include mainFontLight;

            font-size: 4vmin; // TODO: Set a minimum fixed size for mobile
            letter-spacing: 0.1vmin;
            text-transform: uppercase;
        }

        #profiles a {
            @include mainFontMedium;

            font-size: 2.5vmin;
            text-transform: lowercase;
        }
    }
}

// Display & positioning

#grid {
    max-height: 100vh;
    position: fixed;
    overflow: hidden;
}

#left, #right {
    height: 100vh;
    overflow-y: scroll;
}

#left {
    header {
        @include centerChildren;

        position: relative;
        top: -6.5vmin; // Substract the top offsets of the relative positioned children to avoid pushing everything down

        #presentation {
            #greeting {
                position: relative;
                top: 6.5vmin;
                left: -4.5vmin;
            }
        }

        #tagline {
            margin-top: 2vmin;
        }

        #profiles a {
            display: inline-block;
            margin-top: 7vmin;
            margin-left: 1.5vmin;
            padding: 1.5vmin 4.5vmin;
        }
    }

    header, aside {
        @include coverHeight;
    }
}

#right {
    .project {
        @include coverHeight;
    }
}

#tagline, .aside-title, .aside-subtitle, .project-title {
    display: block;
}

// Colors

#left {
    header {
        #profiles a {
            border: 1px solid $secondaryColor;;
            border-radius: 10vmin;
        }
    }
}