@import "variables.scss";
@import "mixins.scss";

// Custom resets

a, a:link, a:visited, a:hover, a:active {
    color: $secondaryColor;
    text-decoration: none;
}

// Grid

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
    grid-auto-flow: row; // TODO: Change this to column for mobile
    justify-items: stretch;
}

// Fonts

#left {
    header {
        #presentation {
            #greeting {
                font-family: $secondaryFont;
                font-size: calc(7vmin / #{$headerScale}); // TODO: Set a minimum fixed size for mobile
            }

            #name {
                @include mainFontExtraBold;

                font-size: calc(25vmin / #{$headerScale}); // TODO: Set a minimum fixed size for mobile
            }
        }

        #tagline {
            @include mainFontLight;

            font-size: calc(4vmin / #{$headerScale}); // TODO: Set a minimum fixed size for mobile
            letter-spacing: calc(0.1vmin / #{$headerScale});
            text-transform: uppercase;
        }

        #profiles a {
            @include mainFontMedium;

            font-size: calc(2.5vmin / #{$headerScale});
            text-transform: lowercase;
        }
    }
}

// Display & positioning

#grid {
    max-height: 100vh;
    position: fixed;
    overflow: hidden;
}

#left, #right {
    height: 100vh;
    overflow-y: scroll;
}

#left {
    header {
        @include centerChildren;

        position: relative;
        min-width: calc(63vmin / #{$headerScale});

        #presentation {
            top: calc(-6.5vmin / #{$headerScale}); // Substract the top offsets of the relative positioned children to avoid pushing everything down

            #greeting {
                position: relative;
                top: calc(6.5vmin / #{$headerScale});
                left: calc(-4.5vmin / #{$headerScale});
            }
        }

        #tagline {
            margin-top: calc(2vmin / #{$headerScale});
        }

        #profiles a {
            display: inline-block;
            margin-top: calc(7vmin / #{$headerScale});
            margin-left: calc(1.5vmin / #{$headerScale});
            padding: calc(1.5vmin / #{$headerScale}) calc(4.5vmin / #{$headerScale});
        }
    }

    header, aside {
        @include coverHeight;
    }
}

#right {
    .project {
        @include coverHeight;
    }
}

#tagline, .aside-title, .aside-subtitle, .project-title {
    display: block;
}

// Colors

#left {
    header {
        #profiles a {
            border: 1px solid $secondaryColor;
            border-radius: calc(10vmin / #{$headerScale});
        }
    }
}