$primaryFont: 'Montserrat', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$secondaryFont: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$accentFont: 'Nothing You Could Do', Georgia, Times, serif;
$secondaryColor: black; // Temporary
$spaceUnit: 2rem;
$asideContentWidth: 75%;