$primaryFont: 'Montserrat', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$secondaryFont: 'Nothing You Could Do', Georgia, Times, serif;
$secondaryColor: black; // Temporary
$bezelWidth: 2rem;
$asideContentWidth: 75%;